/* html teg selector*/

h1{
color:red;
font-size:50px ;
background-color: aqua;


}

/* class selector*/
.a1{
color:blue;
font-size:70px ;
background-color: black;
}


/* id selector  */
#w1{

  color:rgb(187, 154, 24);
  font-size:80px ;
  background-color: rgb(182, 28, 135);

}
